*{
  margin: 0;
  padding:0 ;
}

.placeholder-loader {
  display: flex;
  width: 100%;
}

.placeholder-img {
  background-color: #f0f0f0; /* Placeholder color */
  height: 260px; /* Adjust height as needed */
  margin: 2px; /* Adjust margin as needed */
}

/* Additional styling to make the placeholders look like images */
.placeholder-img::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent, rgba(223, 219, 219, 0.5), transparent); /* Add gradient effect */
}

.placeholder-img:nth-child(2),
.placeholder-img:nth-child(3) {
  height: 260px; /* Adjust height as needed */
}
